.Toolbar {
    background-color: #183063;
    color: #fff;
}

.Toolbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 987px;
    margin: 0 auto;
    padding: 0 1rem;
}

@media (max-width: 670px) {
    .Toolbar ul {
        display: none;
    }
}