.Header {
    background-color: rgb(255, 249, 242);
    min-height: 70vh;
    
    color: rgb(0, 0, 0);
    text-shadow: 0 0 20px rgba(255, 255, 255, .5);
    
}
.Header__img{
    max-width: 450px;
    overflow: hidden;
    object-fit: cover;
} 
.Header__item {
    display: flex;
    min-height: 60vh;
    justify-content: space-around;
    align-items: center;
}
.Header__button{
    margin-top: 5rem;
    background-color: orangered;
    cursor: pointer;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
.Header__info h1{
    font-size: 2.5rem;
}
.Header__info p {
    margin-top: 1rem;
    font-size: 1rem;
}
@media (max-width: 670px) {
    .Header__item {
      flex-direction: column;
      justify-content: center;
    }
    .Header__info{
        text-align: center;
    }
    .Header__button{
        margin-top: 2rem;
    }
  }