.Header {
    background-image: url(../../assets/san-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    color: #fff;
    text-shadow: 0 0 20px rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Header__item .margin{
    min-height: 100px;
    width: 100%;
}
.Header__item span{
    font-size: 24px;
}
.Header__item span:first-child{
    margin-right: 10px;
}
.Header__button{
    margin-top: 100px;
    background-color: orangered;
    cursor: pointer;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    transition: all .5s;

}
.Header__button:hover{
    background-color: rgb(179, 179, 179);
    color: blue;
}

.Header__item{
    text-align: center;
}
.Header__item h1{
    margin: 0;
    font-weight: bold;
    line-height: 1.2;
    font-size: 53px;
    text-transform: capitalize;
    letter-spacing: -0.03em;
}
.Header__item p {
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-size: 28px;
}
@media (max-width: 670px) {
    .Header__item {
      flex-direction: column;
      justify-content: center;
    }
    .Header__info{
        text-align: center;
    }
    .Header__button{
        margin-top: 2rem;
    }
  }