body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #1d3b7a;
  color: #fff;
}
*{
  box-sizing: border-box;
}
a{
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}